.box1{
    border: 0px solid ;
    background-color: rgb(219, 25, 25);
    height: 200px;
    width: 200px;
}
.box2{
    border: 0px solid ;
    background-color: rgb(252, 227, 2);
    height: 200px;
    width: 200px;
}
.box3{
    border: 0px solid;
    background-color: rgb(4, 205, 255);
    height: 200px;
    width: 200px;
}
.box4{
    border: 0px solid;
    background-color: rgb(6, 255, 18);
    height: 200px;
    width: 200px;
}
.right{
    float: right;
    margin-right: 1120px;
    margin-top: -400px;
}

.box5{
    border: 0px solid ;
    background-color: rgb(25, 44, 219);
    height: 200px;
    width: 200px;
   
}
.box6{
    border: 0px solid ;
    background-color: rgb(252, 2, 15);
    height: 200px;
    width: 200px;

   
}
.box7{
    border: 0px solid;
    background-color: rgb(255, 4, 213);
    height: 200px;
    width: 200px;
    
}
.box8{
    border: 0px solid;
    background-color: rgb(255, 168, 6);
    height: 200px;
    width: 200px;
    
    
}
.left{
    float: right;
    margin: -398px 350px 0px -350px;
}
.rb{
     margin-right: 200px;
}