body{
    background-color: rgb(243, 243, 112);
    border: 10px dotted black;
    height: 450px;
    width: 840px;
    border-radius: 10px;
}
h1{
    border-bottom: 5px solid rgb(223, 81, 81);
    font-size: 40px;
    width: 350px;
}
img{
    border-radius: 50px;
}
p{
    border: 5px solid rgb(248, 9, 9);
    width: 800px;
    border-radius: 10px;
}
