table{
    border-radius: 10px;
    border-top-color:rgba(4, 255, 213, 0.534) ;
    border-bottom-color: rgba(4, 255, 213, 0.534) ;
    border-left-color: rgba(4, 255, 213, 0.534) ;
    border-right-color: rgba(4, 255, 213, 0.534) ;
    margin: 200px 0px 0px 300px;
}
td{
    font-size: 45px;
}
.red{
    background: rgb(225, 241, 183);
}
.blue{
    background: rgb(185, 211, 211);
}
.head{
    font-size: 30px;
    color: rgb(225, 65, 65);
}