table{
    border: 5px solid rgb(250, 127, 127);
    margin: 250px 0px 0px 450px;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: lightblue;
}
td{
    font-size: 50px;
    color: rgb(61, 57, 57);
}
thead{
    font-size: 40px;
}
