body{
    background-color: rgb(211, 207, 207);
}
ul{ 
    color: red;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.cs{
    color: blue;
}
.css{
    color: blue;
}
.css1{
    color: blue;
}
.cs1{
    color: red;
}
.cs2{

}